.list-contnt{
position: relative; 
color: #f0ffff;
text-align: center;
font-size: 25px;
}

.list{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../img/gahag-0020366804.jpg")
    center / cover;
  
}