
.post-content{
position: relative; 
color: #f0ffff;
text-align: center; 
font-size: 25px;
}

.post{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../img/publicdomainq-0015622vki.jpg")
    center / cover;
  
}


@media screen and (max-width: 479px) {
   #player{
  height: 200px;
  width: 375px;
}
}