.registers{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../img/30f62c5d2d810e08193584db04e9e821_s.jpg")
    center / cover;
  
}



.registers-content{
position: relative; 
color: #f0ffff;
text-align: center; 
font-size: 25px;
}

.footer{
  font-size: 30px;
}

