.index{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../img/publicdomainq-0036295tiu.jpg")
    center / cover;
  
}

.index::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.4);
}

.index-content{
position: relative; 
top: 200px; 
left: 550px; 
color: #f0ffff;
}


.title{
  font-size: 40px;
}

.explanation{
  font-size: 20px;
}

.explanation2{
   font-size: 16px;
}

#submit{
  position: absolute;
  left: 190px;
  top: 135.5px;
}

